.card-listing{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.player-card{
  display: flex;
  flex-direction: row;
}

.pack-user{
  color: red;
}

.winner-player{
  color: cadetblue;
  font-weight: 700;
  font-size: 18px;
}

.button-86 {
  all: unset;
  width: fit-content;
  height: 10px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 15px;
  margin-top: 15px;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}